<footer class="footer">
  <div class="footer-menu container">
    <ul class="header-nav-list footer-list">
      <li class="header-nav-list-item">
        <a href="#about" class="header-nav-list-item-link">About us</a>
      </li>
      <li class="header-nav-list-item">
        <a href="#collection" class="header-nav-list-item-link"
          >Our collection
        </a>
      </li>
      <li class="header-nav-list-item">
        <a href="#order" class="header-nav-list-item-link">Customer order</a>
      </li>
      <li class="header-nav-list-item">
        <a href="#testimonials" class="header-nav-list-item-link"
          >TEstimonials</a
        >
      </li>
    </ul>
    <p class="slogan-content">
      A touch of <span class="slogan-span">Ukrainian</span> culture in every
      embroidery
    </p>
  </div>
</footer>
