<section class="hero-section">
    <div class="container hero-container">
        <div class="hero">
            <div>
                <h1 class="hero-title">
                    Reviving the traditional
                    <span class="hero-two">Ukrainian</span> artistry in every stitch.
                </h1>
                <a class="button" href="#Your order">
                Order
                <svg width="36" height="20">
                <use href="./img/sprite.svg#icon-arrow"></use>
                </svg>
                </a>
            </div>
            <div class="girl">
                <img
                sizes="(min-width: 1280px) 392px, (min-width: 768px) 413px, (max-width: 767px) 335px"
                srcset="
                ./img/hero/hero-girl-mobile.jpg     335w,
                ./img/hero/hero-girl-tablet.jpg     413w,
                ./img/hero/hero-girl-desktop.jpg    392w,
                ./img/hero/hero-girl-mobile@2x.jpg  670w,
                ./img/hero/hero-girl-tablet@2x.jpg  826w,
                ./img/hero/hero-girl-desktop@2x.jpg 784w
                "
                src="./img/hero/hero-girl-mobile.jpg"
                alt="girl"
                />
            </div>
        </div>
        <div class="images"></div>
        <div class="work">
            <svg class="star" width="52" height="51">
                <use href="./img/sprite.svg#icon-star"></use>
            </svg>
            <p class="title">all embroidery is made by hand</p>
        </div>
    </div>
</section>