<!-- ============Our collection===============-->

<section class="our-collection" id="collection">
  <div class="container-our-collection container">
    <h2 class="our-collection-title">Our collection</h2>
    <ul class="our-collection-list">
      <li class="our-collection-images">
        <img
          class="collection-images"
          src="./img/collection/collection-1-mobile@2x.jpg"
          alt="AUGUST Poltava women's blouseRING"
          width="335"
          height="430"
        />

        <div class="our-collection-div-text">
          <h3 class="our-collection-title-next">
            AUGUST Poltava women's blouseRING
          </h3>
          <p class="our-collection-text">3300 UAH</p>
        </div>
      </li>
      <li class="our-collection-images">
        <img
          class="collection-images"
          src="./img/collection/collection-2-mobile@2x.jpg"
          alt="Women's blouse Gorgany"
          width="335"
          height="430"
        />

        <div class="our-collection-div-text">
          <h3 class="our-collection-title-next">Women's blouse Gorgany</h3>
          <p class="our-collection-text">3350 UAH</p>
        </div>
      </li>
      <li class="our-collection-images">
        <img
          class="collection-images"
          src="./img/collection/collection-3-mobile@2x.jpg"
          alt="Women's blouse Crimea"
          width="335"
          height="430"
        />

        <div class="our-collection-div-text">
          <h3 class="our-collection-title-next">Women's blouse Crimea</h3>
          <p class="our-collection-text">4000 UAH</p>
        </div>
      </li>
      <li class="our-collection-images">
        <img
          class="collection-images"
          src="./img/collection/collection-4-mobile@2x.jpg"
          alt="Men's shirt Verkhovina"
          width="335"
          height="430"
        />

        <div class="our-collection-div-text">
          <h3 class="our-collection-title-next">Men's shirt Verkhovina</h3>
          <p class="our-collection-text">3100 UAH</p>
        </div>
      </li>
      <li class="our-collection-images">
        <img
          class="collection-images"
          src="./img/collection/collection-5-mobile@2x.jpg"
          alt="Mountain men's shirt"
          width="335"
          height="430"
        />

        <div class="our-collection-div-text">
          <h3 class="our-collection-title-next">Mountain men's shirt</h3>
          <p class="our-collection-text">3300 UAH</p>
        </div>
      </li>
      <li class="our-collection-images">
        <img
          class="collection-images"
          src="./img/collection/collection-6-mobile@2x.jpg"
          alt="Men's shirt Yasens"
          width="335"
          height="430"
        />

        <div class="our-collection-div-text">
          <h3 class="our-collection-title-next">Men's shirt Yasen</h3>
          <p class="our-collection-text">1700 UAH</p>
        </div>
      </li>
    </ul>
  </div>
</section>
