<section class="your-order-section">
  <div class="container">
    <img
      class="your-order-images"
      src="./img/order/order-background-desktop-max.jpg"
      srcset="
      ./img/order/order-background-desktop-max@2x.jpg
      ./img/order/order-background-desktop-min.jpg
      ./img/order/order-background-desktop-min@2x.jpg
      ./img/order/order-background-mobile.jpg
      ./img/order/order-background-mobile@2x.jpg
      ./img/order/order-background-tablet.jpg
      ./img/order/order-background-tablet@2x.jpg"
      alt="a_girl_in_a_green_dress"
    />
    <div class="your-order-container">
      <img
        class="your-order-picture"
        src="./img/order/order-img-desktop.jpg"
        srcset="./img/order/order-img-desktop@2x.jpg
        ./img/order/order-img-tablet.jpg
        ./img/order/order-img-tablet@2x.jpg"
        alt="dress_and_waistcoat"
      />
    
    <div class="your-order-container_next">
      <h2 class="your-order">
        Your order
        <span class="your-order-span"
          >is our priority: Personalized approach and quality of service</span
        >
      </h2>
      <form class="your-order-form">
        <div class="your-order-input-container">
          <label class="your-order--label" for="">
          <input
            type="name"
            class="your-order-input"
            name="username"
            placeholder="Enter_your_full_name" 
            autofocus
          ></input></label>
        </div>
        <div class="your-order-input-container"><label class="your-order--label" for="">
          <input
            type="email"
            class="your-order-input"
            name="useremail"
            placeholder="Enter your email"
          ></input></label>
        </div>
        <div>
          <label class="" for="your-order--label">
            <textarea
              type="pattern"
              class="your-order-textarea"
              name="user-coment"
              placeholder="Comments"
              id=""
              rows="10"
              cols="35"
            ></textarea>
          </label>
          <button class="your-order-btn" href="index.html" type="pattern">
            Send<svg class="your-order-icon" width="26" height="10">
              <use href="./img/sprite.svg#icon-arrow"></use>
            </svg>
          </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
