body {
    font-family: "Manrope", sans-serif;
    color: #FCF9F9;
    background-color: #1C2225;
}

.container {
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.section {
    padding-top: 75px;
    padding-bottom: 75px;
}
