/* ====== прилипалка ========= */
main {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.footer-menu {
	border-top: 1px solid rgba(252, 249, 249, 0.10);
	background-image: url(../img/footer/footer-background.png);
	background-repeat: no-repeat;
	background-size: 450px 400px;
	background-position-y: 175%;
	background-position-x: 50%;
}

@media screen and (min-width: 768px) {
	.footer-menu {
		background-position-y: 50%;
		background-position-x: 185%;
	}
}

@media screen and (min-width: 1280px) {
	.footer-menu {
		background-size: 595px 527px;
		background-position-y: 40%;
		background-position-x: 138%;
	}
}

@media screen and (min-resolution: 192dpi) and (min-width: 320px),
screen and (min-resolution: 2dppx) and (min-width: 320px),
screen and (min-device-pixel-rario: 2) and (min-width:320px) {
	.footer-menu {
		background-image: url(../img/footer/footer-background@2x.png);
	}
}

/* ======== MENU =============== */
.footer-menu {
	display: block;
	padding-top: 40px;

}

.footer-list {
	display: grid;
	grid-auto-flow: column;
	grid-template-rows: 1fr 1fr;
	row-gap: 25px;
}

@media screen and (min-width: 768px) {
	.footer-list {
		grid-template-rows: 0;
	}
}

/* ======= SLOGAN ============ */
.slogan-content {
	font-size: 44px;
	line-height: 1.227;
	letter-spacing: -0.03em;
	width: 335px;
	padding-top: 40px;
	padding-bottom: 290px;
}

.slogan-span {
	color: var(--white, #ECD979);
}

@media screen and (min-width: 768px) {
	.slogan-content {
		width: 521px;
		font-size: 54px;
		line-height: 1.185;
		letter-spacing: -0.03em;
		padding-top: 80px;
		padding-bottom: 40px;
	}

	.slogan-span {
		font-size: 54px;
		line-height: 1.185;
		letter-spacing: -0.03em;
	}
}

@media screen and (min-width: 1280px) {
	.slogan-content {
		width: 754px;
		font-size: 64px;
		line-height: 1.156;
		padding-top: 117px;
	}

	.slogan-span {
		font-size: 64px;
		line-height: 1.156;

	}
}