*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input,
textarea,
button {
  font: inherit;
}

.mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ecd979;
}

@media screen and (min-width: 1280px) {
  .mobile {
    display: none;
  }
}

.mobile.is-open {
  visibility: visible;
  pointer-events: auto;
  transform: translateX(0);
}

.mobile-menu {
  padding-top: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    padding-top: 40px;
  }
}

.mobile-menu-btn {
  width: 36px;
  height: 36px;
  line-height: 0;
  border: none;
  background-color: transparent;
  z-index: 10;
  position: absolute;
  top: 21px;
  right: 20px;
}

@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    top: 20px;
    right: 32px;
  }
}

.mobile-menu-btn-icon {
  stroke: #1c2225;
}

.mobile-menu-address {
  align-self: flex-start;
  padding-left: 20px;
}

@media screen and (min-width: 768px) {
  .mobile-menu-address {
    padding-left: 40px;
  }
}

.mobile-menu-address-link {
  width: 158px;
  height: 38px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #1c2225;
  font-size: 12px;
  font-style: normal;
  line-height: 1.17;
  border-radius: 15px;
  border: 1px solid rgba(28, 34, 37, 0.1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-address-link:hover {
  border: 1px solid #ecd979;
  transform: scale(1.2);
}
.mobile-menu-list {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  text-align: end;
  gap: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 768px) {
  .mobile-menu-list {
    gap: 25px;
    padding-right: 40px;
  }
}

.mobile-menu-list-item {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-list-item:hover {
  transform: scale(1.2);
}

.mobile-menu-list-item-link {
  color: #1c2225;
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
}

.mobile-menu-image {
  width: 100%;
  height: 302px;
  background: url(../img/header/background-mobmenu.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .mobile-menu-image {
    height: 484px;
  }
}

@media (min-resolution: 192dpi) {
  .mobile-menu-image {
    background-image: url(../img/header/background-mobmenu@2x.png);
  }
}

.header {
  padding-top: 20px;
  padding-bottom: 30px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: #1c2225;
  transition: padding-bottom 250ms linear;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 20px;
    padding-bottom: 80px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    padding-top: 20px;
  }
}

.header.scrolled {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(24, 23, 23, 0.8);
}

.header .container {
  min-width: 375px;
  width: 100%;
  height: 52px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .header .container {
    min-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1280px) {
  .header .container {
    min-width: 1280px;
    padding: 0 100px;
  }
}

@media screen and (min-width: 1440px) {
  .header .container {
    min-width: 1440px;
  }
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@media screen and (min-width: 1280px) {
  .header-nav-logo {
    margin-right: 60px;
  }
}

.header-nav-menu {
  display: none;
}

@media screen and (min-width: 1280px) {
  .header-nav-menu {
    display: block;
    margin-right: 129px;
  }
}

@media screen and (min-width: 1440px) {
  .header-nav-menu {
    margin-right: 289px;
  }
}

.header-nav-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
}

.header-nav-list-item-link {
  color: #fcf9f9;
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-list-item-link:hover {
  color: #ecd979;
}

.header-address {
  display: none;
}

@media screen and (min-width: 1280px) {
  .header-address {
    display: block;
  }
}

.header-address-link {
  width: 193px;
  height: 48px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fcf9f9;
  font-size: 14px;
  font-style: normal;
  line-height: 1.43;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-link:hover {
  border: 1px solid #ecd979;
}

.header-social {
  display: flex;
  align-items: center;
}

.header-social-list {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-right: 12px;
}

@media screen and (min-width: 768px) {
  .header-social-list {
    margin-right: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .header-social-list {
    margin-right: 0;
  }
}

.header-social-list-item-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  background-color: rgba(252, 249, 249, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-social-list-item-link:hover {
  background: transparent;
  border: 1px solid #ecd979;
}

.header-social-list-item-icon {
  fill: #fcf9f9;
  opacity: 0.8;
}

.header-burger-btn {
  padding: 0;
  background-color: transparent;
  border: none;
  line-height: 0;
  width: 44px;
  height: 30px;
}

@media screen and (min-width: 1280px) {
  .header-burger-btn {
    display: none;
  }
}
